WeProovSDK/Wprv.framework/Versions/A/Headers/ref.h filter=lfs diff=lfs merge=lfs -text
WeProovSDK/WeProovSDK.framework/Modules/WeProovSDK.swiftmodule/arm.swiftmodule filter=lfs diff=lfs merge=lfs -text
WeProovSDK/WeProovSDK.framework/de.lproj/Localizable.strings filter=lfs diff=lfs merge=lfs -text
WeProovSDK/WeProovSDK.framework/sv.lproj filter=lfs diff=lfs merge=lfs -text
WeProovSDK/Wprv.framework/Versions filter=lfs diff=lfs merge=lfs -text
WeProovSDK/Wprv.framework/Versions/A/Headers/Items.objc.h filter=lfs diff=lfs merge=lfs -text
WeProovSDK/Wprv.framework/Versions/A/Headers/Rights.objc.h filter=lfs diff=lfs merge=lfs -text
WeProovSDK/Wprv.framework/Modules filter=lfs diff=lfs merge=lfs -text
WeProovSDK/Wprv.framework/Versions/A/Headers/Affiliation.objc.h filter=lfs diff=lfs merge=lfs -text
WeProovSDK/Wprv.framework/Versions/A/Resources/Info.plist filter=lfs diff=lfs merge=lfs -text
WeProovSDK/Wprv.framework/Versions/Current filter=lfs diff=lfs merge=lfs -text
WeProovSDK/Wprv.framework/Versions/A/Wprv filter=lfs diff=lfs merge=lfs -text
WeProovSDK/WeProovSDK.framework/Info.plist filter=lfs diff=lfs merge=lfs -text
WeProovSDK/Wprv.framework/Versions/A/Headers filter=lfs diff=lfs merge=lfs -text
WeProovSDK/Wprv.framework/Versions/A/Headers/Cachedimage.objc.h filter=lfs diff=lfs merge=lfs -text
WeProovSDK/Wprv.framework/Versions/A/Headers/Category.objc.h filter=lfs diff=lfs merge=lfs -text
WeProovSDK/Wprv.framework/Versions/A/Headers/Utils.objc.h filter=lfs diff=lfs merge=lfs -text
WeProovSDK/Wprv.framework/Versions/A/Headers/Wperr.objc.h filter=lfs diff=lfs merge=lfs -text
WeProovSDK/WeProovSDK.framework/Modules/WeProovSDK.swiftmodule/x86_64.swiftdoc filter=lfs diff=lfs merge=lfs -text
WeProovSDK/WeProovSDK.framework/fr.lproj filter=lfs diff=lfs merge=lfs -text
WeProovSDK/Wprv.framework/Headers filter=lfs diff=lfs merge=lfs -text
WeProovSDK/Wprv.framework/Wprv filter=lfs diff=lfs merge=lfs -text
WeProovSDK/WeProovSDK.framework/de.lproj filter=lfs diff=lfs merge=lfs -text
WeProovSDK/Wprv.framework/Versions/A/Headers/Mission.objc.h filter=lfs diff=lfs merge=lfs -text
WeProovSDK/WeProovSDK.framework/sl.lproj filter=lfs diff=lfs merge=lfs -text
WeProovSDK/WeProovSDK.framework/tr.lproj/Localizable.strings filter=lfs diff=lfs merge=lfs -text
WeProovSDK/WeProovSDK.framework/Modules/WeProovSDK.swiftmodule filter=lfs diff=lfs merge=lfs -text
WeProovSDK/WeProovSDK.framework/Modules/WeProovSDK.swiftmodule/arm64.swiftdoc filter=lfs diff=lfs merge=lfs -text
WeProovSDK/WeProovSDK.framework/Modules/WeProovSDK.swiftmodule/arm64.swiftmodule filter=lfs diff=lfs merge=lfs -text
WeProovSDK/WeProovSDK.framework/nl.lproj filter=lfs diff=lfs merge=lfs -text
WeProovSDK/WeProovSDK.framework/pt.lproj/Localizable.strings filter=lfs diff=lfs merge=lfs -text
WeProovSDK/WeProovSDK.framework/sl-SI.lproj/Localizable.strings filter=lfs diff=lfs merge=lfs -text
WeProovSDK/Wprv.framework/Versions/A filter=lfs diff=lfs merge=lfs -text
WeProovSDK/Wprv.framework/Versions/A/Headers/Team.objc.h filter=lfs diff=lfs merge=lfs -text
WeProovSDK/Wprv.framework/Versions/A/Headers/Templates.objc.h filter=lfs diff=lfs merge=lfs -text
WeProovSDK/WeProovSDK.framework filter=lfs diff=lfs merge=lfs -text
WeProovSDK/WeProovSDK.framework/Modules/WeProovSDK.swiftmodule/armv7.swiftmodule filter=lfs diff=lfs merge=lfs -text
WeProovSDK/WeProovSDK.framework/Modules/module.modulemap filter=lfs diff=lfs merge=lfs -text
WeProovSDK/Wprv.framework/Versions/A/Headers/User.objc.h filter=lfs diff=lfs merge=lfs -text
WeProovSDK/Wprv.framework/Versions/A/Modules/module.modulemap filter=lfs diff=lfs merge=lfs -text
WeProovSDK/WeProovSDK.framework/camera-annotation-animated.gif filter=lfs diff=lfs merge=lfs -text
WeProovSDK/WeProovSDK.framework/es.lproj filter=lfs diff=lfs merge=lfs -text
WeProovSDK/WeProovSDK.framework/fr.lproj/Localizable.strings filter=lfs diff=lfs merge=lfs -text
WeProovSDK/WeProovSDK.framework/Modules/WeProovSDK.swiftmodule/x86_64.swiftmodule filter=lfs diff=lfs merge=lfs -text
WeProovSDK/WeProovSDK.framework/ro.lproj filter=lfs diff=lfs merge=lfs -text
WeProovSDK/WeProovSDK.framework/sl.lproj/Localizable.strings filter=lfs diff=lfs merge=lfs -text
WeProovSDK/Wprv.framework/Versions/A/Headers/Proover.objc.h filter=lfs diff=lfs merge=lfs -text
WeProovSDK/Wprv.framework/Versions/A/Headers/S3image.objc.h filter=lfs diff=lfs merge=lfs -text
WeProovSDK/WeProovSDK.framework/Headers filter=lfs diff=lfs merge=lfs -text
WeProovSDK/WeProovSDK.framework/Headers/WeProovSDK-Swift.h filter=lfs diff=lfs merge=lfs -text
WeProovSDK/Wprv.framework filter=lfs diff=lfs merge=lfs -text
WeProovSDK/Wprv.framework/Versions/A/Headers/Report.objc.h filter=lfs diff=lfs merge=lfs -text
WeProovSDK/WeProovSDK.framework/it.lproj filter=lfs diff=lfs merge=lfs -text
WeProovSDK/WeProovSDK.framework/ro.lproj/Localizable.strings filter=lfs diff=lfs merge=lfs -text
WeProovSDK/WeProovSDK.framework/sv.lproj/Localizable.strings filter=lfs diff=lfs merge=lfs -text
WeProovSDK/Wprv.framework/Resources filter=lfs diff=lfs merge=lfs -text
WeProovSDK/WeProovSDK.framework/en.lproj filter=lfs diff=lfs merge=lfs -text
WeProovSDK/WeProovSDK.framework/en.lproj/Localizable.strings filter=lfs diff=lfs merge=lfs -text
WeProovSDK/WeProovSDK.framework/it.lproj/Localizable.strings filter=lfs diff=lfs merge=lfs -text
WeProovSDK/WeProovSDK.framework/pl.lproj filter=lfs diff=lfs merge=lfs -text
WeProovSDK/Wprv.framework/Versions/A/Headers/Translations.objc.h filter=lfs diff=lfs merge=lfs -text
WeProovSDK/Wprv.framework/Versions/A/Headers/Universe.objc.h filter=lfs diff=lfs merge=lfs -text
WeProovSDK/WeProovSDK.framework/Modules filter=lfs diff=lfs merge=lfs -text
WeProovSDK/WeProovSDK.framework/Modules/WeProovSDK.swiftmodule/arm.swiftdoc filter=lfs diff=lfs merge=lfs -text
WeProovSDK/WeProovSDK.framework/cs.lproj filter=lfs diff=lfs merge=lfs -text
WeProovSDK/Wprv.framework/Versions/A/Headers/Geoloc.objc.h filter=lfs diff=lfs merge=lfs -text
WeProovSDK/Wprv.framework/Versions/A/Headers/Update.objc.h filter=lfs diff=lfs merge=lfs -text
WeProovSDK/Wprv.framework/Versions/A/Modules filter=lfs diff=lfs merge=lfs -text
WeProovSDK/WeProovSDK.framework/sl-SI.lproj filter=lfs diff=lfs merge=lfs -text
WeProovSDK/WeProovSDK.framework/tr.lproj filter=lfs diff=lfs merge=lfs -text
WeProovSDK/WeProovSDK.framework/Headers/WeProovSDK.h filter=lfs diff=lfs merge=lfs -text
WeProovSDK/WeProovSDK.framework/Modules/WeProovSDK.swiftmodule/armv7.swiftdoc filter=lfs diff=lfs merge=lfs -text
WeProovSDK/WeProovSDK.framework/WeProov.ttf filter=lfs diff=lfs merge=lfs -text
WeProovSDK/WeProovSDK.framework/es.lproj/Localizable.strings filter=lfs diff=lfs merge=lfs -text
WeProovSDK/WeProovSDK.framework/nl.lproj/Localizable.strings filter=lfs diff=lfs merge=lfs -text
WeProovSDK/WeProovSDK.framework/pt.lproj filter=lfs diff=lfs merge=lfs -text
WeProovSDK/Wprv.framework/Versions/A/Headers/Fscache.objc.h filter=lfs diff=lfs merge=lfs -text
WeProovSDK/Wprv.framework/Versions/A/Headers/Wprv.objc.h filter=lfs diff=lfs merge=lfs -text
WeProovSDK/Wprv.framework/Versions/A/Resources filter=lfs diff=lfs merge=lfs -text
WeProovSDK/Wprv.framework/Versions/A/Headers/Wprv.h filter=lfs diff=lfs merge=lfs -text
WeProovSDK/WeProovSDK.framework/Assets.car filter=lfs diff=lfs merge=lfs -text
WeProovSDK/Wprv.framework/Versions/A/Headers/Config.objc.h filter=lfs diff=lfs merge=lfs -text
WeProovSDK/Wprv.framework/Versions/A/Headers/Keyvalue.objc.h filter=lfs diff=lfs merge=lfs -text
WeProovSDK/Wprv.framework/Versions/A/Headers/Pack.objc.h filter=lfs diff=lfs merge=lfs -text
WeProovSDK/Wprv.framework/Versions/A/Headers/Pulldownload.objc.h filter=lfs diff=lfs merge=lfs -text
WeProovSDK/Wprv.framework/Versions/A/Headers/Rn.objc.h filter=lfs diff=lfs merge=lfs -text
WeProovSDK/WeProovSDK.framework/WeProovSDK filter=lfs diff=lfs merge=lfs -text
WeProovSDK/WeProovSDK.framework/cs.lproj/Localizable.strings filter=lfs diff=lfs merge=lfs -text
WeProovSDK/WeProovSDK.framework/pl.lproj/Localizable.strings filter=lfs diff=lfs merge=lfs -text
